.custom-carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  margin-top: 30px;
}

.custom-carousel-title {
  display: flex;
  align-items: center;
}

.custom-carousel-title h2 {
  font-weight: bold;
  margin-right: 10px;
}

.custom-all-categories {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  padding-right: 40px; 
}

.custom-all-categories span {
  font-size: 14px;
  color: gray;
}

.custom-all-categories:hover span {
  color: black;
}

.custom-arrow-right {
  font-size: 14px;
  margin-left: 5px;
}

.custom-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.custom-carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.custom-carousel-item {
  width: 134px;
  height: 195px;
  text-align: center;
  margin: 0 20px;
}

.custom-arrows {
  display: flex;
  gap: 10px;
  margin-right: 40px; 
}

.custom-arrow {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: orange;
}

.custom-arrow:active {
  background-color: orange;
}


@media (max-width: 1024px) {
  .custom-carousel-header {
    padding: 0 10px;
  }

  .custom-carousel-title h2 {
    font-size: 18px;
  }

  .custom-all-categories span {
    font-size: 12px;
  }

  .custom-carousel-images {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .custom-carousel-header {
    padding: 0 5px;
  }

  .custom-carousel-title h2 {
    font-size: 16px;
  }

  .custom-all-categories span {
    font-size: 10px;
  }

  .custom-carousel-images {
    gap: 10px;
  }
}
