.custom-carousel-container {
  text-align: center;
  margin: 20px auto;
  width: 1410px; 
  margin-bottom: 60px; 
}

.custom-carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.custom-carousel-title {
  display: flex;
  align-items: center;
}

.custom-carousel-title h2 {
  font-weight: bold;
  margin-right: 10px; 
}

.custom-all-categories {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-all-categories span {
  font-size: 14px;
  color: gray;
}

.custom-all-categories:hover span {
  color: black;
}

.custom-arrow-right {
  font-size: 14px;
  margin-left: 5px;
}

.custom-carousel {
  position: relative;
  width: 100%;
}

.custom-carousel-images {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.custom-carousel-item {
  width: 134px;
  height: 195px;
  text-align: center;
  margin: 0 20px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-carousel-item:hover {
  background-color: rgba(0, 0, 0, 0.05); 
  transform: scale(1.05); 
}

.custom-carousel-item img {
  width: 100%;
  height: auto;
}

.custom-carousel-item-line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1); 
  margin: 10px 0;
}

.custom-carousel-item p {
  margin: 0;
  color: black; 
  font-weight: bold;
  font-size: 14px;
}

.custom-arrows {
  display: flex;
  gap: 5px; 
}

.custom-arrow {
  width: 31px;
  height: 30px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: orange;
}

.custom-arrow:active {
  background-color: orange;
}

.custom-arrow svg {
  color: black; 
}

  
  
  
  