
.header {
   background-color: black;
   width: 100%;
   height: 80px;
   padding: 0 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   top: 0;
   left: 0;
   z-index: 1000;
   box-sizing: border-box;
}


.header_left {
   display: flex;
   align-items: center;
   gap: 60px;
 
   
}

.header_logo {
   width: 135px;
   height: auto;
   cursor: pointer;
}

.header_catalogue {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px 15px;
   background-color: transparent;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   text-align: center;
   
}

.header_catalogue_icon {
   width: 161px;
   height: auto;
}


.header_search {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0px;
  
   
}

.search_category {
   padding: 9px;
   border-radius: 5px 0 0 5px;
   background-color: #f5f5f5;
   border: 1px solid #ddd;
   outline: none;
   cursor: pointer;
}

.search_input {
   width: 50%;
   padding: 10px;
   border: 1px solid #ddd;
   border-left: none;
   outline: none;
   border-radius: 0 5px 5px 0;
   background-color: #f5f5f5;
}

.search_icon {
   margin-left: -30px;
   cursor: pointer;
   width: 15px;
}


.header_right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px; 
}


.header_icon {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}


.icon_history img {
   width: 40px;
   height: 40px;
}

.icon_favorites img {
   width: 40px;
   height: 40px;
}

.icon_profile img {
   width: 30px;
   height: 24px;
   margin-top: -2px;
   margin-right: -11px;
}

.icon_cart img {
   width: 20px;  
   height: 20px;
}


.text_signin {
   font-size: 12px; 
   color: white;
  
   height: 100%;
}


.text_cart {
   font-size: 14px; 
   color: white;
}
